<app-navigation-bar></app-navigation-bar>
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>

<body>
  <h1> How to Train Your Dragon 2 <span>(2014)</span>
  </h1>
  <p> <span><img width="300"
        src="http://images.now-tv.com/shares/vod_images/vi_vodproduct_desc_t/201801/en_us/original_vertical/201801110502535">
    </span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate rem architecto quam perspiciatis, sit
    autem possimus adipisci consequuntur aliquid sapiente nulla tempora pariatur ut in iste vitae repudiandae fuga amet.
  </p>


</body>

</html>



<app-footer-bar></app-footer-bar>